{
    "owners": ["The owners ID", 
    "prefix": ">>",
    "token": "ODA3NTAxNDU5MzQ4MjU4ODM2.YB46Vg.3jBwHNE49KWVcN6GockMbckyfNY",

    "mongoose": "MongoDB uri",
    "shard": // Number of shards,
    "canary": true
}
